* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 20px 0;
  background: linear-gradient(to right, #ff9068, #fd746c);
}

.App {
  position: relative;
  max-width: 1000px;
  min-height: 80vh;
  margin: 0 auto;
  box-shadow: 9px 11px 36px -4px rgba(0, 0, 0, 0.72);
  text-align: center;
  border-radius: 20px;
  border: 15px solid white;
  background-color: rgb(243, 243, 243);
}

.header {
  width: 100%;
  height: 50%;
  padding: 20px 0 30px;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(to right, #ff9068, #fd746c);
}

h1 {
  font-size: 40px;
  color: white;
}

h2 {
  font-size: 20px;
  color: white;
}


.messages-wrapper {
  margin: 30px 0 80px 0;
}


.app__form {
  position: absolute;
  display: flex;
  padding: 20px;
  width: 100%;
  bottom: 0;
  z-index: 1;
  border-radius: 20px;
  border-radius: 0 0 20px 20px;
  border: none;

}

.app__input {
  flex: 1;
  border: none;

}

::placeholder {
  padding-left: 10px;
}

.app__button {
  flex: 0;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 10px;
  width: fit-content;
  background-color: white;
  border: 1px solid #fd746c;
  color: #fd746c;
  box-shadow: 10px 10px 29px -15px rgba(0, 0, 0, 0.75);
}